.bi-search {
  font-size: xx-large;
}

.searchBtn {
  color: #df7861;
}

.searchBtn:hover {
  color: #ecb390;
}

.visibleFalse {
  display: none;
}

.showChoiceMargin {
  margin-left: 5.5rem;
}

.showChoiceColor {
  color: #ecb390;
}

.contentCard {
  --bs-card-spacer-y: 0;
  width: 33.33%;
}

.dropdown-toggle::after {
  margin-right: 1rem;
}

.btn.show {
  color: white !important;
}

.dropdown-item.disabled {
  color: #ecb390;
}

.myBodyCard {
  height: 28rem;
  padding: 5% 7% 5% 30%;
}
