################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
NoarJobBL/bin/
NoarJobBL/obj/
NoarJobDAL/bin/
NoarJobDAL/obj/
NoarJobUI/bin/
NoarJobUI/obj/
