.card {
    background-color: #94B49F !important;
}

.btn {
    background-color: #ECB390 !important;
}

.btn:hover {
    color: #94B49F !important;
}

.title {
    color: #ECB390;
    font-style: italic;
}

.subTitle {
    color: #DF7861;
}
