.bi-search{
    font-size: xx-large;
}

.searchBtn {
    color: #DF7861;
}

.searchBtn:hover {
    color: #ECB390;
}

.visibleFalse{
    display: none;
}

.contentCard {
    --bs-card-spacer-y: 15rem;
}
