.BtnBlock {
  margin-left: 200px;
}

.cleanBtn {
  background-color: #df7861;
}

.cleanBtn:hover {
  background-color: #94b49f;
}

.chosenBtn {
  background-color: #df7861 !important;
}

.chosenBtn:hover {
  color: #94b49f !important;
}

.dropdown-toggle::after {
  margin-right: 13rem;
}
