.bi-search {
  font-size: xx-large;
}

.searchBtn {
  color: #df7861;
}

.searchBtn:hover {
  color: #ecb390;
}

.visibleFalse {
  display: none;
}

.contentCard {
  --bs-card-spacer-y: 0;
  width: 33.33%;
}

.myBodyCard {
  height: 28rem;
  padding: 5% 7% 5% 30%;
}
